<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>



    :host {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 8px 0;
    }
  
    p {
      margin: 0;
    }
  
    .spacer {
      flex: 1;
    }
  
    .toolbar {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 60px;
      display: flex;
      align-items: center;
      background-color: #efefef;
      color: rgb(28, 28, 28);
      font-weight: 600;
    }
  
  
    footer {
      
      margin-top: 8px;
      display: flex;
      align-items: center;
      line-height: 20px;
      color: #ab8263;
      margin-bottom: 0px;
    }
  
    footer a {
     
      color: #1976d2;
      display: flex;
      align-items: center;
    }
  
  
    .log{
      padding: 3%;
      background-color: rgb(241, 240, 240);
      width: 500px;
      margin-top: 100px;
      margin-left: 120px;
      margin-bottom: 50px;
      border-radius: 10px;
    }
  
   
  
  </style>
  
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
    <img style="border-radius: 25px; margin-left: 12px;"
      width="40"
      alt="Angular Logo"
      src="assets/logo--Taj.png"
    />
    <a routerLink="homes" style=" margin-left:20px; color: black;">Home</a>
    <a routerLink="products" style=" margin-left:20px; color: black;">Product</a>
    <a routerLink="about" style=" margin-left:20px; color: black;">About Us</a>
    <a routerLink="contact" style=" margin-left:20px; color: black;">Contacts</a>
    
  
      <div class="spacer"></div>
      
      <a style=" margin-right:20px; color: rgb(63, 9, 191);" aria-label="Angular on YouTube" target="_blank" rel="noopener"  >Login</a>
  </div>
  
  <!-- forms -->
  
  <div class="log">
    <form >
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Set Password</label>
          <input type="password" class="form-control" id="inputPassword4" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <label for="inputAddress">Enter Full Name</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="">
      </div>
      <div class="form-group">
        <label for="inputAddress2">Contact Number</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="(+91) |">
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">City</label>
          <input type="text" class="form-control" id="inputCity">
        </div>
        <div class="form-group col-md-4">
          <label for="inputState">State</label>
          <select id="inputState" class="form-control">
            <option selected>MP</option>
            <option>UP</option>
            <option>TN</option>
            <option>MH</option>
            <option>RJ</option>
            <option>AS</option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label for="inputZip">Zip</label>
          <input type="text" class="form-control" id="inputZip">
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck">
          <label class="form-check-label" for="gridCheck">
            Check me out
          </label>
        </div>
      </div>
      <button style="background-color:#8d6c52 ; color: white;" type="submit" class="btn">Sign in</button>
    </form>
  </div>
  
  
  
  
    <!-- Footer -->
    <footer style="height: 60px; background-color: rgb(14, 14, 14)">
      &#169;&nbsp; Copyrights Reserved 2022
    </footer>
  
    
  